.form {
    border-radius: 6px;
    padding: 30px 20px 40px;
    background: var(--primaryBg);
    border: 3px solid var(--secondaryBg);
    border-top: 2px solid var(--accent);

    .title {
        font-size: 24px;
        display: inline-block;
        padding-bottom: 20px;
    }

    input,
    textarea {
        caret-color: var(--accent);

        &:hover {
            background: var(--ternaryBg);
        }
    }

    .fieldset {
        border: 2px solid var(--primaryBorder);
        border-radius: 6px;
        padding: 0 8px;
        padding-top: 10px;
        margin-bottom: 16px;

        legend {
            padding: 0 8px;
        }
    }

    .field {
        margin-bottom: 16px;
    }

    .label {
        display: block;
        margin-bottom: 6px;
    }

    .input {
        display: block;
        width: 100%;
        max-width: 100%;
        border: none;
        border: 2px solid var(--secondaryBg);
        border-bottom: 2px solid var(--primaryBorder);
        border-radius: 6px;
        padding: 8px;
        background: var(--secondaryBg);
        transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        font-size: 14px;

        &:focus {
            background: var(--secondaryBgDark);
            border-bottom: 2px solid var(--accent);
            outline: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            & + .addon {
                background: var(--accent);

                path {
                    fill: var(--primaryBg);
                }
            }
        }

        &:focus-visible {
            background: var(--ternaryBg);

        }
    }

    .checkbox,
    .radio {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .label {
            margin-bottom: 0;
            border-bottom: 2px solid transparent;
            transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
            border-radius: 6px;
            // bottom border
            margin-bottom: -2px;
            margin-left: 10px;
        }

        input {
            border-radius: 15px;
            width: 16px;
            height: 16px;
            border: 1px solid var(--primaryBorder);
            accent-color: var(--accent);
            outline: none;
            
            &:focus-visible {
                & + .label {
                    border-bottom: 2px solid var(--accent);
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }

        &.card-like {
            &:first-child {
                margin-top: 8px;
            }

            label {
                position: relative;
                background: var(--secondaryBg);
                padding: 12px 12px;
                border-radius: 6px;
                width: 100%;
                transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
                padding-left: 36px;
                border: 2px solid var(--secondaryBg);
                margin-left: 0;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(80%, -50%);
                    width: 14px;
                    height: 14px;
                    background: var(--primaryText);
                    border-radius: 2px;
                    transition: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    outline: 2px solid var(--secondaryBorder);
                    outline-offset: 1px;
                }

                &::before {
                    background: transparent;
                    outline: none;
                    z-index: 2;
                    width: 10px;
                    height: 10px;
                    transform: translate(130%, -50%);
                    border-radius: 2px;
                }
            }

            input {
                opacity: 0;
                position: absolute;
                pointer-events: none;

                &:checked {
                    & + label {
                        &::after {
                            background: var(--ternaryBg);
                            outline-offset: 3px;
                            outline-color: var(--accent);
                        }

                        &::before {
                            background: var(--accent);
                        }
                    }

                    &:hover {
                        & + label {
                            opacity: .9;
                        }
                    }
                }

                &:hover {
                    & + label {
                        background: var(--ternaryBg);
                    }
                }
            }
        }
    }

    .radio {
        &.card-like {
            label {
                &::after {
                    border-radius: 50%;
                }

                &::before {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }
        }
    }

    .button {
        margin-top: 24px;

        &.submit {
            height: 40px;
        }
    }

    span {
        font-size: 14px;
    }

    .input-error {
        color: var(--error);
        font-size: 12px;
        padding-top: 8px;
    }

    .addon-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        .input {
            padding-left: 34px;
        }
    }

    .addon {
        padding: 7px;
        position: absolute;
        left: 4px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

        path {
            transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }
}

.file {
    input {
        opacity: 0;
        position: absolute;
        pointer-events: none;

        &:hover,
        &:focus {
            & + label {
                background: var(--ternaryBg);
            }
        }
    }

    .label {
        background: var(--secondaryBg);
        display: flex;
        flex-direction: column;
        padding: 12px;
        padding-left: 40px;
        margin-bottom: 0;
        border: 2px solid var(--secondaryBg);
        border-radius: 6px;
        position: relative;
    }

    svg {
        position: absolute;
        left: 8px;
        top: 16px;
        z-index: 2;
        width: 24px;
        height: 24px;

        &.active {
            path {
                fill: var(--accent);
            }
        }

        path {
            transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }

    small {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

:disabled {
    background: var(--primaryBorder) !important;
    border: none !important;
    opacity: 0.6;
    cursor: default !important;

    & + .addon {
        opacity: .5;
    }

    &.dropdown-toggle {
        opacity: .45;
    }

    & + .label {
        opacity: .45;
        cursor: default !important;
    }
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 8px;
    margin-right: 12px;
}

.tag {
    padding: 4px 12px;
    border-radius: 8px;
    background: var(--ternaryBg);
    border: 2px solid var(--primaryBorder);
}